.animatedLoader {
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3aaccb;
    padding: 40px 20px;
}

.container {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

.questionDiv {
    margin: 0;
    box-shadow: 0px 0px 10px 1px #a2a3a3;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.questionDiv h3 {
    margin: 10px 10px;
}

.optionsDiv {
    display: flex;
    flex-direction: column;
    margin: 6px 4px;
    width: 100%;
    padding: 10px;
}


.option-btn {
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    padding: 15px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    transition: 0.3s;
    margin: 5px;
    min-height: 30px;
    background-color: white;
}

.checked {
    background-color: rgba(78, 69, 78, 0.805);
    color: white;
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}

.option-btn:hover {
    background-color: grey;
    color: white;
}


#next-button {
    padding: 10px;
    border: none;
    background-color: rgba(39, 98, 114, 0.791);
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width: 100px;
}

#next-button:hover {
    background-color: #276272;
}
#next-button:active {
    box-shadow: none;
}


.showScoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showScoreDiv p {
    font-size: 32px;
}

@media (max-width: 400px) {
    body {
        padding: 40px 10px;
    }
}