.animatedLoader {
    width: 100%;
}

.App {
    text-align: center;
    margin: 20px;
}

.OptionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optDiv {
    margin: 5px;
}